<div class="floating-list">
	<div ng-repeat="(key, value) in poiList" class="block masonry-brick">
		<div uib-collapse="isCollapsed">
			<div class="box-recommended very-delicious"></div> 
					
			<!-- <a href="{{value.ImageLink}}"><img class="image-block" ng-src="{{value.ImageLink}}"></a> -->
			<img class="image-block" ng-src="assets/images/00002.jpg">

			<div class="clear padding-top10"></div>
			<h4 class="font-title block-padtop">{{value.PlaceNameTh}} Rating: {{value.Rating}}</h1>
			<h5 class="font-subtitle-blue block-padtop">{{value.District}} - {{value.Province}} ({{value.TelNo}})</h2>
			<div class="font-normal-gray block-padtop">
				<p>{{value.Description}}</p>
			</div>
			<div class="block-link"><a href="/#/poiview/{{value._id}}"><img src="http://www.twosave.com/common/images/icon-more-green.png" border="0" alt=""></a></div>
		</div>
		<div class="more-details">
			<div class="glyphicon glyphicon-search" ng-click="isCollapsed = !isCollapsed"></div>
		</div>
	</div>
</div>