<div class="floating-list">
	<div ng-repeat="(key, value) in poiList.blocks" class="block masonry-brick">
		<div class="box-recommended restaurant"><img src="http://www.twosave.com/common/images/icon-food-very-delicious.png" ></div> 
				
		<a href="{{value.ImageLink}}"><img class="image-block" ng-src="{{value.ImageLink}}"></a>

		<div class="clear padding-top10"></div>
		<h4 class="font-title block-padtop">{{value.Name}} Rating: {{value.Rating}}</h1>
		<h5 class="font-subtitle-blue block-padtop">{{value.Location}}</h2>
		<div class="font-normal-gray block-padtop">
		<p>{{value.Description}}</p>
		</div>
		<div class="block-link"><a href="/#/poiview?poi={{value.Id}}"><img src="http://www.twosave.com/common/images/icon-more-green.png" border="0" alt=""></a></div>
	</div>
</div>