<div class="floatingList" style="position:relative;">
	<div ng-repeat="(key, value) in poiList" class="block masonry-brick" style="position: block;">
		<div class="restaurant-box-recommended"><img src="http://www.twosave.com/common/images/icon-food-very-delicious.png" border="0" alt=""></div> 
				
		<a href="http://www.twosave.com/th/restaurants/bistro-fredo/" class="img-hover"><img src="http://www.twosave.com/common/images/timthumb.php?src=http://os.twosave.com/common/restaurants/bistro-fredo/cover.jpg&amp;h=210&amp;w=210&amp;zc=1&amp;q=90&amp;s=1" border="0" alt=""></a>
			<!-- block-love -->

		<div class="clear padding-top10"></div>
		<h1 class="font-title block-padtop">{{value.Name}} Rating: {{value.Rating}}</h1>
		<h2 class="font-subtitle-blue block-padtop">{{value.Location}}</h2>
		<div class="font-normal-gray block-padtop">
		<p>{{value.Description}}</p>
		</div>
		<div class="block-link"><a href="http://www.twosave.com/th/restaurants/bistro-fredo/"><img src="http://www.twosave.com/common/images/icon-more-green.png" border="0" alt=""></a></div>
	</div>
</div>