<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-image">
                <img class="img-responsive" ng-src="{{journey.SourceImageThumbnail}}" ng-if="journey.SourceImageThumbnail !== undefined">
                <img class="img-responsive" src="http://placehold.it/400x200" 
                ng-if="(journey.SourceImageThumbnail === undefined || journey.SourceImageThumbnail.length <= 0)">
                <span class="card-title">{{journey.JourneyTitle}}</span>
            </div>
            
            <div class="card-content">
                <p>{{(journey.JourneyContent | htmlToPlaintext) |  limitText:true:200:' ...'  }}</p>
            </div>
            
            <div class="card-action">
                <a href="#/journey/{{journey._id}}" >View</a>
            <!--    <a href="#" target="new_blank">Link</a>
                <a href="#" target="new_blank">Link</a>
                <a href="#" target="new_blank">Link</a>
                <a href="#" target="new_blank">Link</a>-->
            </div>
        </div>
    </div>
</div>