.floating-list {
	position: relative;
	height: 1600px;
	width: 1280px;
	.masonry-brick {
		position: relative;
		float: left;
		min-height: 350px;
		.box-recommended {
			position:absolute;
			top:5px;
			left:5px;
			&.very-delicious {
				content: url(../images/resources/icon-very-delicious.png);
			}
		}
		.more-details {
			position:absolute;
			bottom:0px;
			right:0px;
			color: orange;
		}
		img.image-block {
			width:215px;
		}
	}

	.block {
		background: #fff;
		width: 225px;
		padding: 5px;
		margin: 0px 5px 10px 5px;
		box-shadow: 0px 0px 10px #888;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}