.row-journeys {
    margin-top:1em;
    margin-bottom:1em;
}
.row-img-thumbnail-journeys {
    height:150px;
    overflow:auto;
}
.img-thumbnail-journeys {
    height: auto;
    width:150px;
}

.review-footer {
    margin-top: 2.5em;
}

.journey-vote-number {
    font-size: 30px;
    color: #F4C017;
}
#voted {
    background: url('/assets/images/unvote.png') no-repeat;
    background-size: 32px 32px;
    height: 50px;
    cursor: pointer;
    margin-top: 0.3em;
}
#voted:hover {
    background: url('/assets/images/vote.png') no-repeat;
    background-size: 32px 32px;
    height: 50px;
    cursor: pointer;
    margin-top: 0.3em;
}