<div>
	<a href="#/journey" ng-click="CreateJourney()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> สร้างเรื่องราว</a>
	<div class="row" >
		<div class="animated fadeIn" >
			<div class="row">
				<div class="col-md-12"><h3><i class="fa fa-thumb-tack"></i> เรื่องราวยอดเยี่ยม</h3></div>
				<div class="col-md-12" class="table-responsive">
				</div>
			</div>
			<hr class="footer-hr">
			<div class="row" ng-init="LoadJourneys()">
				<div class="col-md-12"><h3><i class="fa fa-pencil"></i> เรื่องราว</h3></div>
				<div class="col-md-12" ng-repeat="Journey in Journeys">
					<journey-list journey="Journey"></journey-list>
				</div>
			</div>
		</div>
		
	</div>
</div>