<div>
	<div id="ViewJourney" class="animated fadeIn" ng-if="Page.Mode == 'view'">
		<div class="row">
			<div class="col-md-12"><a href="#/journeys" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> กลับ</a></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>{{Journey.JourneyTitle}}</h3>
			</div>
			<div class="col-md-12">
				<div ng-repeat="tag in Journey.Tags">{{tag.Text}}</div>
			</div>
			<div class="col-md-12">
				<div ta-bind ng-model="Journey.JourneyContent"></div>
			</div>
			<div class="col-md-12 journey-footer">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-1 journey-vote-number">0</div>
						<div id="voted" class="col-md-1">
							<!--<img id="voted" src="/images/unvote.png" width="32" height="32">-->
						</div>
						<div class="col-md-2"><img id="" src="/assets/images/no-profile-img.png" class="img-circle" width="48" height="48"></div>
						<div class="col-md-10">
							{{Journey.User.Username}}
							<i><span am-time-ago="Journey.UpdateDate"></span></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="disqus_thread"></div> 
			<script> /** * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS. * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */ /* var disqus_config = function () { this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable }; */ 
			(function() { // DON'T EDIT BELOW THIS LINE 
			var d = document, s = d.createElement('script'); s.src = '//kinnonteaw.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })(); </script> 
			<noscript>Please enable JavaScript to view the 
			<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
			</noscript>
		</div>
	</div>
	<div id="NewJourney" class="animated fadeIn" ng-if="Page.Mode == 'new'">
		<div class="row" >
			<div class="col-md-12"><h3 class="article-header">Create Journey</h3></div>
			<div class="col-md-12">
				<div class="col-md-2">หัวข้อ : </div>
				<div class="col-md-10">
					<input type="text" class="article-input form-control" ng-model="Journey.JourneyTitle">
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-2">เนื้อหา : </div>
				<div class="col-md-10">
					<div text-angular ng-model="Journey.JourneyContent"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-2">แท็ก : </div>
				<div class="col-md-10">
					<tags-input ng-model="Journey.Tags" class="article-input"></tags-input>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<a ng-click="SaveJourney()" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> บันทึกเรื่องราว</a>
				<a ng-click="CancelJourney()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> ยกเลิก</a>
			</div>
		</div>
		
	</div>
</div>