<div>
	<a href="" ng-click="CreateJourney()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> สร้างเรื่องราว</a>
	<div class="row" >
		<div class="animated fadeIn" >
			<div class="row">
				<div class="col-md-12"><h3><i class="fa fa-thumb-tack"></i> เรื่องราวยอดเยี่ยม</h3></div>
				<div class="text-center" ng-if="GreatJourneys.length <= 0">
					<i class="fa fa-comments-o fa-4x"></i>
				</div>
			</div>
			<hr class="footer-hr">
			<div class="row" ng-init="LoadJourneys()">
				<div class="col-md-12"><h3><i class="fa fa-pencil"></i> เรื่องราว</h3></div>
				<div class="text-center" ng-if="Journeys.length <= 0">
					<i class="fa fa-comment-o fa-4x"></i>
				</div>
				<div class="col-md-12" ng-repeat="Journey in Journeys">
					<journey-list journey="Journey"></journey-list>
				</div>
				<div class="col-md-12" ng-repeat="Journey in Journeys">
					<journey-card-list journey="Journey"></journey-card-list>
				</div>
			</div>
		</div>
		
	</div>
</div>