<div>
	<a href="" ng-click="CreateJourney()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> สร้างเรื่องราว</a>
	<div class="row" >
		<div class="animated fadeIn" >
			<div class="row">
				<div class="col-md-12"><h3><i class="fa fa-thumb-tack"></i> เรื่องราวยอดเยี่ยม</h3></div>
				<div class="text-center" ng-if="GreatJourneys.length <= 0">
					<i class="fa fa-comments-o fa-4x"></i>
				</div>
			</div>
			<hr class="footer-hr">
			<div class="row" ng-init="LoadJourneys()">
				<div class="col-md-12"><h3><i class="fa fa-pencil"></i> เรื่องราว</h3></div>
				<div class="text-center" ng-if="Journeys.length <= 0">
					<i class="fa fa-comment-o fa-4x"></i>
				</div>
				<div class="col-md-12" ng-repeat="Journey in Journeys">
					<journey-list journey="Journey"></journey-list>
				</div>
				<!--<journey-card-list journey="Journey"></journey-card-list> -->
				<div class="col-md-12" ng-repeat="Journey in Journeys">
					<div class="row">
					    <div class="col-md-4 card ">
					        <div class="card-image">
					            <img class="img-responsive" ng-src="{{Journey.SourceImageThumbnail}}" ng-if="Journey.SourceImageThumbnail !== undefined">
					            <img class="img-responsive" 
					            src="http://placehold.it/400x200" 
					            ng-if="(Journey.SourceImageThumbnail === undefined || Journey.SourceImageThumbnail.length <= 0)">
					            <span class="card-title">{{Journey.JourneyTitle}}</span>
					        </div>
					        
					        <div class="card-content">
					            <p>{{(Journey.JourneyContent | htmlToPlaintext) |  limitText:true:200:' ...'  }}</p>
					        </div>
					        
					        <div class="card-action">
					            <a href="#/Journey/{{Journey._id}}" ><i class="fa fa-eye" aria-hidden="true"></i> View</a>
					            <a href="#/Journey/{{Journey._id}}" ><i class="fa fa-commenting-o" aria-hidden="true"></i> COMMENTS</a>
					        <!--    <a href="#" target="new_blank">Link</a>
					            <a href="#" target="new_blank">Link</a>
					            <a href="#" target="new_blank">Link</a>
					            <a href="#" target="new_blank">Link</a>-->
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>