<!-- Search Form-->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="ค้นหา สถานที่กิน นอน เที่ยว..." size="20" ng-model="SearchAllData">
      </div>
      <button type="submit" class="btn btn-default" ng-click="searchClicked()">Search</button>
  </form>
  <div id="DisplaySearchResultModal" ng-show="IsVisibleDisplayModal">
      <div class="ResultModal">{{Title}}</div>
  </div>
</div>
<!-- /.navbar-collapse -->

<div id="div-body">
  <div>
    <floating-list ng-if="dataReady"></floating-list>
  </div>

</div>