<div>
	<a href="#/review" ng-click="CreateReview()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> สร้างเรื่องราว</a>
	<div class="row" >
		<div class="animated fadeIn" >
			<div class="row">
				<div class="col-md-12"><h3><i class="fa fa-thumb-tack"></i> กระทู้ปักหมุด</h3></div>
				<div class="col-md-12" class="table-responsive">
					
				</div>
			</div>
			<div class="row" ng-init="LoadReviews()">
				<div class="col-md-12"><h3><i class="fa fa-pencil"></i> กระทู้</h3></div>
				<div class="col-md-12" ng-repeat="Review in Reviews">
					<div class="col-md-1">
						<a href="#/review/{{Review._id}}" class="btn btn-success"><span class="glyphicon glyphicon-list-alt"></span></a>
					</div>
					<div class="col-md-4">
						<div ta-bind ng-model="Review.ThumbnailImg" ></div>
					</div>
					<div class="col-md-7">
						<h4>{{Review.ReviewTitle}} </h4>
						{{Review.ReviewContent | limitTo: 200 }}

						<i><span am-time-ago="Review.CreateDate"></span></i>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>