<div>
	{{Review}} {{Page.Mode}}
	<div id="ViewReview" class="animated fadeIn" ng-if="Review === undefined">
		<div class="row">
			<div class="col-md-12">
				<h3>{{Review.ReviewTitle}}</h3>


			</div>
			<div class="col-md-12">
				{{Review.ReviewContent}}
			</div>
		</div>

	</div>
	<div id="NewReview" class="animated fadeIn" ng-if="Review !== undefined">
		<div class="row" >
			<div class="col-md-12"><h3 class="article-header">Create Review</h3></div>
			<div class="col-md-12">
				<div class="col-md-2">หัวข้อ : </div>
				<div class="col-md-10">
					<input type="text" class="article-input form-control" ng-model="Review.ReviewTitle">
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-2">เนื้อหา : </div>
				<div class="col-md-10">
					<div text-angular ng-model="Review.ReviewContent"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-2">แท็ก : </div>
				<div class="col-md-10">
					<tags-input ng-model="Review.Tags" class="article-input"></tags-input>
				</div>
			</div>
			
			<div class="col-md-12 text-center">
				<a ng-click="SaveReview()" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> ตั้งกระทู้</a>
				<a ng-click="CancelReview()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> ยกเลิก</a>
			</div>
		</div>
	</div>
</div>