@import 'prerequisite.less';


* {
	&, &::before, &::after {
		box-sizing: border-box;
	}
}

.body-container {
	background: url(../images/resources/GreenBamboo.jpg) top left repeat white;
	font-family: 'Segoe UI',Arial,sans-serif;
}

.journey-create-text {
	color: #eea534;
	font-size: 32px;
}